.game *{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #B4FFB4;
}
.game{
    width: 500px;
    height: 200px;
    border: 1px solid #002200;
    margin: auto;
}

#character{
    width: 20px;
    height: 50px;
    background-color: #002200;
    position:relative;
    top: 150px;
}

.animate{
    animation: jump 0.3s;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: red;
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 2s infinite linear;
}

@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

.game p{
    text-align: center;
}

.game .title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  margin:5% 1% 5% 24%;
}


.game a{
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    color: #002200;
    margin:25% 10% 25% 47%;
    width: 100px;
    height: 100px;
    transition: all .5s ease;
}

.game a:hover{
    color: #B4FFB4;
    text-decoration: underline;
}